/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;


  padding-top: 0px;
  border: solid;
}

.drag1{
  top: 30%;
  height: 5%;
  width: 25%;
  left: 0;
  background-color: white;
  font-size: 30px;
  text-align: center;
}

.drag2{
  top: 30%;
  height: 5%;
  width: 25%;
  left: 25%;
  background-color: white;
  font-size: 30px;
  text-align: center;
}

.drag3{
  top: 30%;
  height: 5%;
  width: 25%;
  left: 50%;
  background-color: white;
  font-size: 30px;
  text-align: center;
}

.drag4{
  top: 30%;
  height: 5%;
  width: 25%;
  left: 75%;
  background-color: white;
  font-size: 30px;
  text-align: center;
}

.top {
  top: 5%;
  left: 0;
  height: 25%;
  width: 100%;
  overflow-x: hidden;
}

.base {
  top: 35%;
  left: 0;
  height: 65%;
  width: 100%;
  overflow-x: hidden;
}

/* Control the left side */
.left1 {
  top: 35%;
  height: 100%;
  width: 24%;
  left: 0;
  background-color: white;
}

.left2 {
  top: 35%;
  height: 100%;
  width: 24%;
  left: 25%;
  background-color: white;
}

/* Control the right side */
.right1 {
  top: 35%;
  height: 100%;
  width: 24%;
  left: 50%;
  background-color: white;
}

.right2 {
  top: 35%;
  height: 100%;
  width: 24%;
  left: 75%;
  background-color: white;
}


body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

#sortable1, #sortable2, #sortable3, #sortable4 {
    border: 1px solid #eee;
    top: 35%;
    width: 25%;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 0px;
    text-align: center;
  }
#sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 98%;
  }