{% extends "base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block scripts %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
  <script>
  $( function() {
    $( "#sortable1, #sortable2,#sortable3,#sortable4" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
    $( "#sortable1" ).sortable({
  receive: function( event, ui ) {$.getJSON($SCRIPT_ROOT + '/_addobject', {
        a: ui.item.text(),
        type: "Todo"
      });
     }
});
    $( "#sortable1" ).sortable({
  remove: function( event, ui ) { $.getJSON($SCRIPT_ROOT + '/_removeobject', {
        a: ui.item.text(),
        type: "Todo"
      });
     }
});
    $( "#sortable2" ).sortable({
  receive: function( event, ui ) {$.getJSON($SCRIPT_ROOT + '/_addobject', {
        a: ui.item.text(),
        type: "Inprogress"
      });
     }
});
    $( "#sortable2" ).sortable({
  remove: function( event, ui ) { $.getJSON($SCRIPT_ROOT + '/_removeobject', {
        a: ui.item.text(),
        type: "Inprogress"
      });
     }
});
    $( "#sortable3" ).sortable({
  receive: function( event, ui )  {$.getJSON($SCRIPT_ROOT + '/_addobject', {
        a: ui.item.text(),
        type: "Done"
      });
     }
});
    $( "#sortable3" ).sortable({
  remove: function( event, ui ) { $.getJSON($SCRIPT_ROOT + '/_removeobject', {
        a: ui.item.text(),
        type: "Done"
      });
     }
});
    $( "#sortable4" ).sortable({
  receive: function( event, ui ) {}
});
    $( "#sortable4" ).sortable({
  remove: function( event, ui ) {}
});
  } );
  </script>
{% endblock %}

{% block app_content %}
<div class = "split top">
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.newtodo.label }}<br>
            {{ form.newtodo(cols=32, rows=4) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>

</div>
<div class = "split drag1">
<p>Todo</p>
</div>
<div class = "split drag2">
<p>In progress</p>
</div>
<div class = "split drag3">
<p>Done</p>
</div>
<div class = "split drag4">
<p>Remove</p>
</div>
<div class = "split base">

<ul id="sortable1" class="connectedSortable left1">

    {% for post in todoposts %}
        <li class="ui-state-default">{{ post.body }}</li>
    {% endfor %}
</ul>

<ul id="sortable2" class="connectedSortable left2">

    {% for post in inprogressposts %}
        <li class="ui-state-default">{{ post.body }}</li>
    {% endfor %}
</ul>

<ul id="sortable3" class="connectedSortable right1">

    {% for post in doneposts %}
        <li class="ui-state-default">{{ post.body }}</li>
    {% endfor %}
</ul>

<ul id="sortable4" class="connectedSortable right2">

</ul>


</div>



{% endblock %}